@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.body {
    background-color: white;
    color: #000;
    font-family: var(--body-font);
}

 :root {
    --body-font: 'Poppins', sans-serif;
}

.active {
    background-color: hsl(207, 26%, 17%);
    color: #fff;
}

.navActive {
    background-color: hsl(209, 23%, 22%);
    color: #fff;
}